In [1]:

# This is lzl's snippet for diploma project
import math
import os,shutil
import random
import warnings
import gc

import geopandas as gpd
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import shapely
import seaborn as sns
from shapely.geometry import LineString, Point, Polygon
from shapely.wkt import dumps, loads
from tqdm import tqdm

import traProject as tp
from traProject.analysisFuns import statisticFuns as sfuns
from traProject.basicFuns import CalFuns as cfun,VisFuns as vfun,DataProcessingFuns as dfun
from traProject.classificationFuns import models
import traProject.utils as tu

random.seed(1229)

# plt.style.use('seaborn')
plt.rcParams['font.sans-serif'] = ['SimHei']  # 用来正常显示中文标签
plt.rcParams['axes.unicode_minus'] = False  # 用来正常显示负号

warnings.filterwarnings("ignore")

picOut='../../output/pic/paper/'

In [7]:
path='../../output/paper/新数据/'
files=tu.scan_files(path)
test=pd.read_csv(files[0],sep=',',names=['tid','timeStr','lon','lat','speed?','bearing','1?','rid?','2?','3?','type','timestamp'])
test

,tid,timeStr,lon,lat,speed?,bearing,1?,rid?,2?,3?,type,timestamp
0,10319,2014-05-29 16:01:05,114.402736,30.509755,15.334444,260.19,0,262144,NaN,0,GPS,1401379265
1,10319,2014-05-29 16:01:27,114.401205,30.509555,0.000000,0.00,0,262144,NaN,0,GPS,1401379287
2,10319,2014-05-29 16:02:22,114.395100,30.508650,9.635417,260.46,0,262144,NaN,0,GPS,1401379342
3,10319,2014-05-29 16:03:03,114.394040,30.511703,14.450556,4.58,0,262144,NaN,0,GPS,1401379383
4,10319,2014-05-29 16:03:44,114.394758,30.516053,14.882222,10.00,0,262144,NaN,0,GPS,1401379424
...,...,...,...,...,...,...,...,...,...,...,...,...
188,10319,2014-05-29 23:56:46,114.369076,30.616346,12.888333,244.48,0,262144,NaN,0,GPS,1401407806
189,10319,2014-05-29 23:57:20,114.366306,30.615148,0.000000,0.00,0,262144,NaN,0,GPS,1401407840
190,10319,2014-05-29 23:57:21,114.366306,30.615148,0.000000,0.00,0,262144,NaN,0,GPS,1401407841
191,10319,2014-05-29 23:58:37,114.361030,30.612216,16.182362,233.67,0,262144,NaN,0,GPS,1401407917
192,10319,2014-05-29 23:59:06,114.359021,30.610958,0.000000,0.00,0,262144,NaN,0,GPS,1401407946

In [1]:
#test